name: Build and Publish Windows

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  release:
    name: Build Windows App
    runs-on: windows-latest

    permissions:
      contents: write

    steps:
      - name: Checkout git repo
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build React Frontend
        run: npm run build
        env:
          CI: false

      - name: Build and Publish Electron App
        uses: samuelmeuli/action-electron-builder@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          args: --windows
          release: true
          max_attempts: 3
